@charset "utf-8";

@import url(./common.css);


.indi{
    margin-top:90px;
    margin-left:15%;
    width:30%;
    height:50px;
    border:1px solid #DB1A35;
    display:flex;
    justify-content: space-between;
    vertical-align: middle;
}

.indi > div{
    width:33%;
    text-align:center;
}

.indi > div > a{
    width:100%;
    height:100%;
    text-align:center;
    color:black;
}

.indi > .home{
    background-color:#DB1A35;
    width:33%;
    text-align:center;
}

.indi > div > a > p{
    font-size:15px;
}








main{
    width:70%;
    margin:80px auto 0;

}
main .appetizer{
    width:100%; height:504px;
    background-image: url(../img/dessbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* border:2px solid #2C2E2D; */
    overflow:hidden;
    margin:0 0 50px;
}
main .appetizer > .blue{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap:nowrap;

    /* border:1px solid blue; */
}
main .appetizer > .blue .info{
    flex-shrink:0;
    width:100%;
    height:100%;
    margin-left:2%;
    margin-top:50px;
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
}
main .appetizer > .blue > .info > .img{
    width:40%;
}
main .appetizer > .blue .info > .img > img{
    width:100%;
    transform:scale(1.2) translateX(-20px);
}
main .appetizer > .blue .info > .text{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:left;
}
main .appetizer > .blue .info > .text > p:nth-of-type(1){
    font-size:1.5em;
    color:#782207;
    margin:0px;
    font-weight:bold;
}
main .appetizer > .blue .info > .text > p:nth-of-type(2){
    color:rgb(129, 129, 129);
    display:block;
    size:1em;
    font-weight: lighter;
    margin:0;
}
main .appetizer > .blue .info > .text > p:nth-of-type(3){
    font-size:1.5em;
    color:rgb(187, 187, 187);
    line-height:1.2;
}
main .appetizer > .blue .info > .text > p:nth-of-type(4){
    margin:10px 0;
    color:black;
    font-size:1em;
    line-height:1.5;
}
main .appetizer > .blue .info > .text > p:nth-of-type(5){
    margin:20px 0;
    color:black;
    font-size:1.3em;
    font-weight:bold;
}





main > a{
    margin:50px auto 0;
    width:100%; height:100px;
    text-align:center;
}
main > a > p{
    width:30%;
    margin:0 auto;
    background-color:#2C2E2D;
    font-size:0.8em;
    color:white;
    padding:20px;
    border-radius: 10px;
}




main .dessert{
    width:100%; height:504px;
    background-image: url(../img/appebg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* border:2px solid #2C2E2D; */
    overflow:hidden;
    margin:50px 0;
}

main .dessert > .blue{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    /* border:1px solid blue; */
}
main .dessert > .blue .info{
    flex-shrink:0;
    width:100%;
    height:504px;
    margin:0;
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
}
main .dessert > .blue .info > .img{
    width:40%;
    height:100%;

}
main .dessert > .blue .info > .img > img{
    width:100%;
    transform: scale(0.7) translate(50px,-200px);
}
main .dessert > .blue .info > .text{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    text-align:right;

}
main .dessert > .blue .info > .text > p:nth-of-type(1){
    font-size:1.5em;
    color:#782207;
    margin:0px;
    font-weight:bold;
}
main .dessert > .blue .info > .text > p:nth-of-type(2){
    color:rgb(129, 129, 129);
    display:block;
    size:1em;
    font-weight: lighter;
    margin:0;
}

main .dessert > .blue .info > .text > p:nth-of-type(3){
    margin:10px 0;
    color:black;
    font-size:1em;
    line-height:1.5;
}
main .dessert > .blue .info > .text > p:nth-of-type(4){
    margin:20px 0;
    color:black;
    font-size:1.3em;
    font-weight:bold;
}

main .button{
    width:100%;
    margin:0px auto;
    margin-top:100px;
    display:flex;
    justify-content: space-between;
    vertical-align: middle;

}
main .button>div{
    /* border:1px solid coral; */
}

main .button .reser{
    width:40%;
}
main .button .reser a{
    width:100%;
    position:relative;
}

main .button .reser a .red{
    width:100%;
}

main .button .reser a span:nth-of-type(1){
    position:absolute;
    left:5%; top:0%;
    width:20%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}
main .button .reser a span:nth-of-type(2){
    position:absolute;
    left:27%; top:0%;
    width:5%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}
main .button .reser a span:nth-of-type(3){
    position:absolute;
    left:34%; top:0%;
    width:5%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}

main .button .reser a .btn{
    width:80%;
    margin:0px auto;
    margin-top:4%;
    border-radius: 10px;
    background-color: #2C2E2D;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main .button .reser a div p:nth-of-type(1){
    font-size:0.7em;
    margin:0;padding:0;
    padding-top:1em;
    color:rgb(171, 171, 171);
}
main .button .reser a div p:nth-of-type(2){
    font-size:1em;
    margin:0;padding:0;
    padding-bottom:1em;
    color:white;
}

main .button .find{
    width:40%;
}
main .button .find a{
    width:100%;
    position:relative;
}
main .button .find a .btn{
    width:80%;
    margin:0px auto;
    border-radius: 10px;
    background-color: #2C2E2D;
    text-align:center;
}
main .button .find a .btn p{
    font-size:1em;
    padding:1.2em 0px;
    color:white;
}
main .button .find a span:nth-of-type(1){
    position:absolute;
    right:34%; top:50%;
    width:5%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}
main .button .find a span:nth-of-type(2){
    position:absolute;
    right:27%; top:50%;
    width:5%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}
main .button .find a span:nth-of-type(3){
    position:absolute;
    right:5%; top:50%;
    width:20%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}

