@import url("./common.css");
body,
html {
  margin: 0;
  padding: 0;
}

main > .mainban.swiper.mySwiper {
  width: 70%;
  margin: 0px auto;
  margin-top: 50px;
  overflow: hidden;
}

main > .mainban.swiper.mySwiper > .bannerAll.swiper-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main > .mainban.swiper.mySwiper > .bannerAll.swiper-wrapper > .banner.swiper-slide {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

main > .mainban.swiper.mySwiper > .bannerAll.swiper-wrapper > .banner.swiper-slide > a {
  width: 100%;
}

main > .mainban.swiper.mySwiper > .bannerAll.swiper-wrapper > .banner.swiper-slide > a > img {
  width: 100%;
}

main > .mainban.swiper.mySwiper > .swiper-scrollbar {
  width: 100%;
  background-color: #b7b7b7;
}

main .section2 {
  width: 70%;
  margin: 50px auto 0;
  position: relative;
}

main .section2 > .title {
  width: 50%;
  height: 140px;
  text-align: center;
  vertical-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .section2 > .title > p {
  color: white;
  font-size: 1.2em;
  background-color: #DB1A35;
  padding: 20px;
  padding-bottom: 40px;
}

main .section2 > .title > span {
  font-size: 0.8em;
  font-weight: lighter;
  position: absolute;
  top: 40%;
  left: 34%;
}

main .section2 > .title > span::after {
  content: '';
  display: block;
  border-bottom: 1px solid #DB1A35;
  margin-top: 5px;
  width: 150%;
}

main .section2 > .content {
  width: 95%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 65%;
  left: 2.5%;
}

main .section2 > .content > a:nth-of-type(1) {
  width: 24%;
  background-color: #2C2E2D;
  text-decoration: none;
  color: white;
}

main .section2 > .content > a:nth-of-type(1) > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .section2 > .content > a:nth-of-type(1) > div > img {
  width: 80%;
  margin-left: 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .section2 > .content > a:nth-of-type(1) > div:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .section2 > .content > a:nth-of-type(1) > div > p {
  font-size: 0.8em;
  margin-left: 12%;
  line-height: 1.5;
}

main .section2 > .content > a:nth-of-type(2) {
  width: 24%;
  background-color: #2C2E2D;
  text-decoration: none;
  color: white;
}

main .section2 > .content > a:nth-of-type(2) > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .section2 > .content > a:nth-of-type(2) > div > img {
  width: 80%;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .section2 > .content > a:nth-of-type(2) > div:hover img {
  -webkit-transform: scale(1.2) translatex(5%);
          transform: scale(1.2) translatex(5%);
}

main .section2 > .content > a:nth-of-type(2) > div > p {
  font-size: 0.8em;
  margin-left: 12%;
  margin-top: 10%;
  line-height: 1.5;
}

main .section2 > .content > a:nth-of-type(3) {
  width: 48%;
  background-color: #2C2E2D;
  text-decoration: none;
  color: white;
}

main .section2 > .content > a:nth-of-type(3) > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .section2 > .content > a:nth-of-type(3) > div > img {
  width: 65%;
  margin-left: 35%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

main .section2 > .content > a:nth-of-type(3) > div:hover img {
  -webkit-transform: scale(1.2) translate(-8%, -25%);
          transform: scale(1.2) translate(-8%, -25%);
}

main .section2 > .content > a:nth-of-type(3) > div > p {
  font-size: 0.8em;
  line-height: 1.5;
  margin-top: 10%;
  margin-left: 10%;
}

main .section3 {
  width: 70%;
  margin: 400px auto 0;
  position: relative;
}

main .section3 > .title {
  text-align: center;
  vertical-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .section3 > .title > p {
  color: white;
  background-color: #DB1A35;
  font-size: 1.2em;
  padding: 20px;
  padding-bottom: 50px;
}

main .section3 > .content {
  width: 80%;
  height: 300px;
  margin: 150px auto 0;
}

main .section3 > .content > ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-align: center;
}

main .section3 > .content > ul > li {
  width: 23%;
  border-radius: 100%;
  background-color: #DB1A35;
}

main .section3 > .content > ul > li > a {
  width: 100%;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 50px;
}

main .section3 > .content > ul > li:nth-of-type(2) {
  background-color: #DF4B60;
}

main .section3 > .content > ul > li:nth-of-type(3) {
  background-color: #E07282;
}

main .section3 > .content > ul > li:nth-of-type(4) {
  background-color: #DB969F;
}

main .section4 {
  width: 70%;
  height: 518.42px;
  overflow: hidden;
  margin: 0px auto;
  margin-top: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 150px;
}

main .section4 > div:nth-of-type(1) {
  width: 24%;
  position: relative;
  overflow: hidden;
}

main .section4 > div:nth-of-type(1) > a {
  width: 100%;
}

main .section4 > div:nth-of-type(1) > a > img {
  width: 100%;
}

main .section4 > div:nth-of-type(1) > a > p {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 70%;
  left: 30%;
  text-transform: capitalize;
}

main .section4 > div:nth-of-type(1) > a > p::after {
  content: '';
  border-bottom: 1px solid white;
  display: block;
  margin-top: 5px;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .section4 > div:nth-of-type(1) > a > p:hover::after {
  width: 100%;
}

main .section4 > div:nth-of-type(2) {
  width: 24%;
  position: relative;
}

main .section4 > div:nth-of-type(2) > a {
  width: 100%;
}

main .section4 > div:nth-of-type(2) > a > img {
  width: 100%;
}

main .section4 > div:nth-of-type(2) > a > p {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 25%;
  left: 40%;
  text-transform: capitalize;
}

main .section4 > div:nth-of-type(2) > a > p::after {
  content: '';
  border-bottom: 1px solid white;
  display: block;
  margin-top: 5px;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .section4 > div:nth-of-type(2) > a > p:hover::after {
  width: 100%;
}

main .section4 > div:nth-of-type(3) {
  width: 24%;
  position: relative;
}

main .section4 > div:nth-of-type(3) > a {
  width: 100%;
}

main .section4 > div:nth-of-type(3) > a > img {
  width: 100%;
}

main .section4 > div:nth-of-type(3) > a > p {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 70%;
  left: 37%;
  text-transform: capitalize;
}

main .section4 > div:nth-of-type(3) > a > p::after {
  content: '';
  border-bottom: 1px solid white;
  display: block;
  margin-top: 5px;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .section4 > div:nth-of-type(3) > a > p:hover::after {
  width: 100%;
}

main .section4 > div:nth-of-type(4) {
  width: 24%;
  position: relative;
}

main .section4 > div:nth-of-type(4) > a {
  width: 100%;
}

main .section4 > div:nth-of-type(4) > a > img {
  width: 100%;
}

main .section4 > div:nth-of-type(4) > a > p {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 16%;
  left: 40%;
  text-transform: capitalize;
}

main .section4 > div:nth-of-type(4) > a > p::after {
  content: '';
  border-bottom: 1px solid white;
  display: block;
  margin-top: 5px;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .section4 > div:nth-of-type(4) > a > p:hover::after {
  width: 100%;
}

main > .newsletter {
  width: 70%;
  margin: 0px auto;
  position: relative;
  margin-bottom: 200px;
}

main > .newsletter > .title {
  width: 50%;
  height: 140px;
  text-align: center;
  vertical-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main > .newsletter > .title > p {
  color: white;
  font-size: 1.2em;
  background-color: #DB1A35;
  padding: 20px;
  padding-bottom: 40px;
}

main > .newsletter > .title > span {
  font-size: 0.8em;
  font-weight: lighter;
  position: absolute;
  top: 40%;
  left: 23%;
}

main > .newsletter > .title > span::after {
  content: '';
  display: block;
  border-bottom: 1px solid #DB1A35;
  margin-top: 5px;
  width: 150%;
}

main > .newsletter > .input {
  width: 95%;
  height: 70px;
  background-color: #2C2E2D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  position: absolute;
  z-index: 5;
  top: 65%;
  left: 2.5%;
}

main > .newsletter > .input > input {
  width: 50%;
  height: 60%;
  margin-right: 10px;
  font-size: 1em;
}

main > .newsletter > .input > a {
  width: 10%;
  height: 60%;
  color: white;
}

main > .newsletter > .input > a > img {
  width: 35%;
}

footer {
  width: 100%;
  height: 350px;
  background-color: #2C2E2D;
  color: white;
  font-size: 0.8em;
  margin-top: 100px;
  padding: 0;
}

footer > .footer_bg {
  width: 70%;
  height: 80%;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer > .footer_bg > .left {
  color: white;
  padding-top: 50px;
}

footer > .footer_bg > .left > .sns {
  width: 350px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer > .footer_bg > .left > .sns > a {
  width: 25%;
  height: 70%;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

footer > .footer_bg > .left > .sns > a > img {
  -webkit-transform: scale(0.5) translate(-30px, -30px);
          transform: scale(0.5) translate(-30px, -30px);
}

footer > .footer_bg > .left > .bottom > a {
  color: #ef7575;
  display: inline;
  margin-right: 10px;
}

footer > .footer_bg > .left > .bottom > a > a:nth-of-type(1)::after {
  content: '';
  border-left: 2px solid #9c9c9c;
  margin: 0px 10px;
}

footer > .footer_bg > .right {
  padding-top: 80px;
  margin-right: 100px;
}

footer > .footer_bg > .right > .select {
  width: 60%;
  text-align: left;
}

footer > .footer_bg > .right > .select > select {
  width: 100%;
  height: 2em;
  text-align: center;
  margin-bottom: 20px;
}

footer > .footer_bg > .right > .reward {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70%;
}

footer > .footer_bg > .right > .reward > img {
  width: 100%;
  margin-top: 10px;
}

.white {
  -webkit-animation: white 0.5s forwards;
          animation: white 0.5s forwards;
}

@-webkit-keyframes white {
  100% {
    opacity: 100%;
  }
}

@keyframes white {
  100% {
    opacity: 100%;
  }
}

.left {
  -webkit-animation: left 0.5s forwards;
          animation: left 0.5s forwards;
}

@-webkit-keyframes left {
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes left {
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=index.css.map */