@charset "utf-8";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style-type: none;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0px;
    padding: 0px;
}


header{
    margin-top:50px;
}
header .helper{
    width:10%;
    display:flex;
    justify-content: space-around;
    transform:translateX(1350px);
}
header .helper > a{
    color:#B42135;
}
header .helper > a::after{
    content:'';
    display:block;
    border-bottom:1px solid #B42135;
    width:100%;
}
.sitemap{
    position:fixed;
    left:0; top:0;
    z-index:2;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display:none;
}

.sitemap ul{
    width:70%;
    height:50%;
    margin:15% auto 0;
    background-color: white;
    display:flex;
    justify-content: space-between;
}

.sitemap ul li{
    text-align:center;
    width:20%;
    height:20%;
    margin:auto;

}
.sitemap ul li a{
    font-size:1em;
    padding:20px;
    margin:auto;
    
}

.sitemap.active{
    display:block;
}

header nav{
    margin:0px auto;
    margin-top:40px;
    background-color: #DB1A35;
    height:90px;
    width:100%;
}

header nav ul{
    width:70%;
    margin:10px auto;
    display:flex;
    justify-content: space-between;
    align-items: top;
    padding:0px;
    
}
header nav > ul > li{
    width:15%;
    text-align:center;
    margin-top:10px;
    position:relative;
    vertical-align: middle;
}
header nav > ul > li:nth-of-type(3){
    width:30%;
    display:inline-block;
    margin:0 auto;
    transform:translateY(-40%);
}
header nav > ul > li:nth-of-type(3) > img {
    width:100%;
}

header nav > ul > li p{
    font-size: 1.3em;
    color:white;
}
header nav > ul > li > p::after{
    content:'';
    width:0%;
    display:block;
    border-bottom: 1px solid white;
    margin:0px auto;
    margin-top:5px;
    transition:0.5s;
}

header nav > ul > li > div{
    display:none;
    position:absolute;
    left:10%; top:40%;

}
header nav > ul > li:hover > p::after{
    content:'';
    width:40%;
    display:block;
    border-bottom: 1px solid white;
    margin:0px auto;
    margin-top:5px;
}

header nav > ul > li:hover > div{
    width:70%;
    margin:0 auto;
    display:block;
    background-color: #E35F5F;
    z-index:10;
}
header nav > ul > li:hover > div > ul{
    width:80%;
    margin:10px auto;
    padding:10px 0;
    display:flex;
    flex-direction: column;
}
header nav > ul > li:hover > div > ul > li > a{
    color:white;
    font-size:0.8em;
    margin:10px auto;
    text-align:center;
}
header nav > ul > li:hover > div > ul > li > a::after{
    content:'';
    display:block;
    border-bottom:1px solid white;
    margin:5px auto 10px;
    
    width:60%;
}



main .mainban{
    width:70%;
    height:600px;
    margin:0px auto;
    margin-top:50px;
    overflow:hidden;
    
}
main .mainban .bannerAll{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
}

main .mainban .bannerAll .banner{
    width:100%;
    height:100%;
    flex-shrink:0;
}

main .main_banner .bannerimg a img{
    width:100%;
    height:100%;

}











/* ========================================================================== */

main .section2{
    width:80%;
    margin:0 auto;
    margin-top:50px;
    position:relative;
}

main .section2 .title{
    width:50%;
    display:flex;
}
main .section2 .title p{
    color:white;
    height:140px;
    background-color:#DB1A35;
    font-size:1.2em;
    padding:20px;
    padding-left:60px;
    width:50%;
}

main .section2 .title span{
    font-size:0.8em;
    color:black;
    text-align:center;
    font-weight:lighter;
    padding-bottom:10px;
    border-bottom:2px solid #B42135;
    width:50%;
    align-self:center;
    transform:translateY(-30px);
}
main .section2 .content{
    width:96%;
    height:350px;
    display:flex;
    justify-content: space-between;
    margin-top:30px;
    position:absolute;
    top:30%; left:2%;
}
main .section2 .content a:nth-of-type(1){
    width:25%;
    height:350px;
    background-color: #2C2E2D;
}
main .section2 .content .bgbox1{
    width:100%;
    height:100%;
}
main .section2 .content .bgbox1 img{
    width:80%;
    margin-left:10%;
    transition:0.5s;
}
main .section2 .content .bgbox1 p{
    font-size:0.8em;
    color:white;
    margin-left: 10%;
    line-height:1.5;
}

main .section2 .content a:nth-of-type(2){
    width:24%;
    height:350px;
    background-color: #2C2E2D;
}
main .section2 .content .bgbox2{
    width:100%;
    height:100%;
}
main .section2 .content .bgbox2 img{
    width:80%;
    transition:0.5s;
}
main .section2 .content .bgbox2 p{
    font-size:0.8em;
    color:white;
    margin-left: 10%;
    line-height:1.5;
}

main .section2 .content a:nth-of-type(3){
    width:49%;
    height:350px;
    background-color: #2C2E2D;
}
main .section2 .content .bgbox3{
    width:100%; height:100%;
    position:relative;
}
main .section2 .content .bgbox3 img{
    width:60%;
    position:absolute;
    right:0; top:0%;
    transition:0.5s;
}
main .section2 .content .bgbox3 p{
    font-size:1em;
    color:white;
    margin-left: 6%;
    line-height:1.5;
    margin-top:5%;
}

main .section2 .content > a:hover  img{
    transform:scale(1.2);
}

/* ==================================================================== */

main .section3{
    /* border:1px solid black; */
    width:75%;
    margin:0 auto;
    margin-top:420px;
    height:700px;
    /* border:1px solid coral; */
    position:relative;
    background-image: url(../img/section3-back.png);
    background-size: cover;
}

main .section3 .title{
    width:10%;
    float:right;
}
main .section3 .title p{
    color:white;
    height:140px;
    background-color:#DB1A35;
    font-size:1.2em;
    padding:20px;
}
main .section3 .content{
    width:90%;
    height:90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border:1px solid black; */
    position:absolute;
    top:12%; left:5%;
}

main .section3 .content div{
    overflow:hidden;
    /* border:1px solid blue; */
}
main .section3 .content div:nth-of-type(1){
    position:absolute;
    top:0; left:0;
}
main .section3 .content div:nth-of-type(1) > img{
    transform:scale(0.95) translateX(-3%) translateY(-3%);
}
main .section3 .content div:nth-of-type(2){
    position:absolute;
    top:0; right:0;
    background-color: white;
}
main .section3 .content div:nth-of-type(3){
    position:absolute;
    top:50%; left:0;
    background-color:white;
    height:42%; width:47%;
}
main .section3 .content div:nth-of-type(3) > img{
    transform:scale(0.95) translateX(-3%) translateY(-3%);
}
main .section3 .content div:nth-of-type(4){
    position:absolute;
    top:50%; left:49%;
    background-color:white;
    height:42%; 

}
main .section3 .content div:nth-of-type(4) > img{
    transform:scaleX(1.0) scaleY(0.9) translate(-5.5%,-5.5%);
}

main .section3 .content div > a {
    position:absolute;
    z-index:5;
    top:45%; left:40%;
    font-weight:bold;
    opacity:0%;
    transition:0.5s;
    color:black;
    text-decoration:underline;
}
main .section3 .content div:nth-of-type(3) > a{
    position:absolute;
    top:30%; left:60%;
}
main .section3 .content div:nth-of-type(4) > a{
    position:absolute;
    top:40%; left:35%;
    color:#DB1A35
}

main .section3 .content div > img{
    opacity:100%;
    transition:0.5s;
}

main .section3 .content > div:hover > a{
    opacity:100%
}

main .section3 .content > div:hover > img{
    opacity:70%
}
/* ====================================================================== */

main .section4{
    width:80%;
    height:518.42px;
    overflow:hidden;
    margin:0px auto;
    margin-top: 150px;
    display:flex;
    justify-content: space-around;
    margin-bottom:150px;
}
main .section4 .box{
    width:24%;
    position:relative;
}
main .section4 .box a{
    width:100%;
}
main .section4 .box a img{
    width:100%;
}
main .section4 .box a p{
    color:white;
    font-size:1.5em;
}

.one a p{
    position:absolute;
    top:70%;
    left:30%;
    text-transform: capitalize;
}
.two a p{
    position:absolute;
    top:25%;
    left:40%;
    text-transform: capitalize;
}
.three a p{
    position:absolute;
    top:70%;
    left:37%;
    text-transform: capitalize;
}
.four a p{
    position:absolute;
    top:16%;
    left:40%;
    text-transform: capitalize;
}

main .section4 .box a p::after{
    content:'';
    border-bottom: 1px solid white;
    display:block;
    margin-top:5px;
    width:0%;
    transition:0.5s;
}

main .section4 .box:hover > a > p::after{
    content:'';
    border-bottom: 1px solid white;
    display:block;
    margin-top:5px;
    width:72%;
}
/* ====================================================================== */

.newsletter{
    width:80%;
    margin:0px auto;
    position:relative;
    margin-bottom:200px;
}
.newsletter .title{
    position:absolute;
    z-index:-1;
}

.newsletter .title p{
    background-color: #DB1A35;
    display:inline;
    padding:20px;
    padding-bottom:40px;
    color:white;
    font-size:1.2em;
}

main .newsletter .title span{
    font-size:0.8em;
    color:black;
    text-align:center;
    font-weight:lighter;
    padding:0px 20px;
    padding-bottom:5px;
    border-bottom:2px solid #B42135;
    align-self:center;
    display:inline;
}

.newsletter .input{
    width:95%;
    margin:0px auto;
    height:70px;
    background-color: #2C2E2D;
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    transform:translateY(40px);
}
.newsletter .input input{
    width:50%;
    height:60%;
    margin:auto 0px;
}
.newsletter .input button{
    z-index:2;
    border:none;
    background-color:transparent;
}
.newsletter .input button > img{
    transform:scale(0.2);
}
/* 이미지 크기도 문젠데 위치도 문제임 짜증... */

/* ==================================================================== */
footer{
    padding-top:30px;
    width:100%;
    height:300px;
    background-color:#2C2E2D;
    color:white;
    font-size:0.8em;
    margin-top:100px;
}
footer .footer_bg{
    width:80%;
    height:80%;
    margin: auto;  
    display:flex;
    justify-content: space-between;
    /* border:1px solid white; */
}
footer .footer_bg .left{
    color:white;

}
footer .footer_bg .left .sns{
    width:350px;
    height:100px;
    display:flex;
    justify-content: space-evenly;
    /* border:1px solid white; */
}
footer .footer_bg .left .sns a{
    width:25%;
    height:70%;
    overflow:hidden;
    text-decoration:none;
    color:white;
}
footer .footer_bg .left .sns a img{
    transform:scale(0.5) translate(-30px,-30px);
    
}

footer .footer_bg .left .bottom{}
footer .footer_bg .left .bottom a{
    color:rgb(239, 117, 117);
    display:inline;
}
footer .footer_bg .left .bottom a:nth-of-type(1)::after{
    content:'';
    border-left:2px solid rgb(156, 156, 156);
    margin:0px 10px;

}


footer .footer_bg .right{
    margin-top:50px;
    margin-right:100px;
}
footer .footer_bg .right .select{
}
footer .footer_bg .right .select select{
    width:100%;
    text-align:center;
    margin-bottom:20px;
}

footer .reward{
    background-color: black;
}
footer .reward img{
    display:block;
}

footer .reward img:nth-of-type(1){ }
footer .reward img:nth-of-type(2){ }
