@charset "utf-8";
@import url('./common.css');

body,
html {
    margin: 0;
    padding: 0;
}

main {
    >.mainban.swiper.mySwiper {
        width: 70%;
        margin: 0px auto;
        margin-top: 50px;
        overflow: hidden;

        >.bannerAll.swiper-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            >.banner.swiper-slide {
                width: 100%;
                flex-shrink: 0;

                >a {
                    width: 100%;

                    >img {
                        width: 100%;
                    }
                }
            }
        }

        >.swiper-scrollbar {
            width: 100%;
            background-color: rgb(183, 183, 183);
        }
    }


    .section2 {
        width: 70%;
        margin: 50px auto 0;
        position: relative;

        >.title {
            width: 50%;
            height: 140px;
            text-align: center;
            vertical-align: center;
            align-items: center;
            position: relative;
            display: flex;
            justify-content: flex-start;

            >p {
                color: white;
                font-size: 1.2em;
                background-color: #DB1A35;
                padding: 20px;
                padding-bottom: 40px;
            }

            >span {
                font-size: 0.8em;
                font-weight: lighter;
                position: absolute;
                top: 40%;
                left: 34%;

                &::after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid #DB1A35;
                    margin-top: 5px;
                    width: 150%;
                }

            }
        }

        >.content {
            width: 95%;
            height: 350px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 65%;
            left: 2.5%;

            >a:nth-of-type(1) {
                width: 24%;
                background-color: #2C2E2D;
                text-decoration: none;
                color: white;

                >div {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    >img {
                        width: 80%;
                        margin-left: 10%;
                        transition: 0.5s;
                    }

                    &:hover {
                        img {
                            transform: scale(1.2);
                        }
                    }

                    >p {
                        font-size: 0.8em;
                        margin-left: 12%;
                        line-height: 1.5;
                    }
                }
            }

            >a:nth-of-type(2) {
                width: 24%;
                background-color: #2C2E2D;
                text-decoration: none;
                color: white;

                >div {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    >img {
                        width: 80%;
                        transform: translateY(-5%);
                        transition: 0.5s;
                    }

                    &:hover {
                        img {
                            transform: scale(1.2) translatex(5%);
                        }
                    }

                    >p {
                        font-size: 0.8em;
                        margin-left: 12%;
                        margin-top: 10%;
                        line-height: 1.5;
                    }
                }
            }

            >a:nth-of-type(3) {
                width: 48%;
                background-color: #2C2E2D;
                text-decoration: none;
                color: white;

                >div {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    >img {
                        width: 65%;
                        margin-left: 35%;
                        transition: 0.5s;
                        transform: translateY(-35%);
                    }

                    &:hover {
                        img {
                            transform: scale(1.2) translate(-8%, -25%);
                        }
                    }

                    >p {
                        font-size: 0.8em;
                        line-height: 1.5;
                        margin-top: 10%;
                        margin-left: 10%;
                    }
                }
            }
        }
    }


    .section3 {
        width: 70%;
        margin: 400px auto 0;
        position: relative;

        >.title {
            text-align: center;
            vertical-align: center;
            align-items: center;
            position: relative;
            display: flex;
            justify-content: flex-end;

            >p {
                color: white;
                background-color: #DB1A35;
                font-size: 1.2em;
                padding: 20px;
                padding-bottom: 50px;
            }
        }

        >.content {
            width: 80%;
            height: 300px;
            margin: 150px auto 0;

            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                list-style: none;
                text-align:center;

                >li {
                    width: 23%;
                    border-radius: 100%;
                    background-color: #DB1A35;

                    >a {
                        width: 100%;
                        border-radius: 100px;
                        color: white;
                        font-size: 18px;
                        font-weight: bold;
                        padding:50px;
                    }
                }

                >li:nth-of-type(2) {
                    background-color: #DF4B60;
                }

                >li:nth-of-type(3) {
                    background-color: #E07282;
                }

                >li:nth-of-type(4) {
                    background-color: #DB969F;
                }
            }
        }
    }


    .section4 {
        width: 70%;
        height: 518.42px;
        overflow: hidden;
        margin: 0px auto;
        margin-top: 800px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 150px;

        >div:nth-of-type(1) {
            width: 24%;
            position: relative;
            overflow: hidden;

            >a {
                width: 100%;

                >img {
                    width: 100%;
                }

                >p {
                    color: white;
                    font-size: 1em;
                    position: absolute;
                    top: 70%;
                    left: 30%;
                    text-transform: capitalize;

                    &::after {
                        content: '';
                        border-bottom: 1px solid white;
                        display: block;
                        margin-top: 5px;
                        width: 0%;
                        transition: 0.5s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        >div:nth-of-type(2) {
            width: 24%;
            position: relative;

            >a {
                width: 100%;

                >img {
                    width: 100%;
                }

                >p {
                    color: white;
                    font-size: 1em;
                    position: absolute;
                    top: 25%;
                    left: 40%;
                    text-transform: capitalize;

                    &::after {
                        content: '';
                        border-bottom: 1px solid white;
                        display: block;
                        margin-top: 5px;
                        width: 0%;
                        transition: 0.5s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        >div:nth-of-type(3) {
            width: 24%;
            position: relative;

            >a {
                width: 100%;

                >img {
                    width: 100%;
                }

                >p {
                    color: white;
                    font-size: 1em;
                    position: absolute;
                    top: 70%;
                    left: 37%;
                    text-transform: capitalize;

                    &::after {
                        content: '';
                        border-bottom: 1px solid white;
                        display: block;
                        margin-top: 5px;
                        width: 0%;
                        transition: 0.5s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        >div:nth-of-type(4) {
            width: 24%;
            position: relative;

            >a {
                width: 100%;

                >img {
                    width: 100%;
                }

                >p {
                    color: white;
                    font-size: 1em;
                    position: absolute;
                    top: 16%;
                    left: 40%;
                    text-transform: capitalize;

                    &::after {
                        content: '';
                        border-bottom: 1px solid white;
                        display: block;
                        margin-top: 5px;
                        width: 0%;
                        transition: 0.5s;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                }
            }
        }
    }

    >.newsletter {
        width: 70%;
        margin: 0px auto;
        position: relative;
        margin-bottom: 200px;

        >.title {
            width: 50%;
            height: 140px;
            text-align: center;
            vertical-align: center;
            align-items: center;
            position: relative;
            display: flex;
            justify-content: flex-start;

            >p {
                color: white;
                font-size: 1.2em;
                background-color: #DB1A35;
                padding: 20px;
                padding-bottom: 40px;
            }

            >span {
                font-size: 0.8em;
                font-weight: lighter;
                position: absolute;
                top: 40%;
                left: 23%;

                &::after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid #DB1A35;
                    margin-top: 5px;
                    width: 150%;
                }
            }
        }

        >.input {
            width: 95%;
            height: 70px;
            background-color: #2C2E2D;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            vertical-align: center;
            position: absolute;
            z-index: 5;
            top: 65%;
            left: 2.5%;

            >input {
                width: 50%;
                height: 60%;
                margin-right: 10px;
                font-size: 1em;
            }

            >a {
                width: 10%;
                height: 60%;
                color: white;

                >img {
                    width: 35%;
                }
            }
        }
    }
}


footer {
    width: 100%;
    height: 350px;
    background-color: #2C2E2D;
    color: white;
    font-size: 0.8em;
    margin-top: 100px;
    padding: 0;

    >.footer_bg {
        width: 70%;
        height: 80%;
        margin: 10% auto;
        display: flex;
        justify-content: space-between;

        >.left {
            color: white;
            padding-top: 50px;

            >.sns {
                width: 350px;
                height: 100px;
                display: flex;
                justify-content: space-evenly;

                >a {
                    width: 25%;
                    height: 70%;
                    overflow: hidden;
                    text-decoration: none;
                    color: white;

                    >img {
                        transform: scale(0.5) translate(-30px, -30px);
                    }
                }
            }

            >.bottom {
                >a {
                    color: rgb(239, 117, 117);
                    display: inline;
                    margin-right: 10px;

                    >a:nth-of-type(1) {
                        &::after {
                            content: '';
                            border-left: 2px solid rgb(156, 156, 156);
                            margin: 0px 10px;
                        }
                    }
                }
            }
        }

        >.right {
            padding-top: 80px;
            margin-right: 100px;

            >.select {
                width: 60%;
                text-align: left;

                >select {
                    width: 100%;
                    height: 2em;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }

            >.reward {
                background-color: black;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                width: 70%;

                >img {
                    width: 100%;
                    margin-top: 10px;
                }
            }

        }


    }

}

.white {
    animation: white 0.5s forwards;
}

@keyframes white {
    100% {
        opacity: 100%;
    }
}

.left {
    animation: left 0.5s forwards;
}

@keyframes left {
    100% {
        transform: translateX(0px);
    }
}