@charset "utf-8";

@import url(./common.css);




.indi{
    margin-top:90px;
    margin-left:15%;
    width:30%;
    height:50px;
    border:1px solid #DB1A35;
    display:flex;
    justify-content: space-between;
    vertical-align: middle;
}

.indi > div{
    width:33%;
    text-align:center;
}

.indi > div > a{
    width:100%;
    height:100%;
    text-align:center;
}

.indi .home{
    background-color:#DB1A35;
}

.indi > div > a > p{
    font-size:15px;
}






main{
    width:70%;
    margin:50px auto;
}
main .bg{
    width:100%;
    margin:0px auto;
    background-color: #2C2E2D;
    text-align:center;
    height:1850px;
}
main .bg > p:nth-of-type(1){
    padding-top:90px;
    color:white;
    font-size:1.3em;
}
main .bg > p:nth-of-type(2){
    color:white;
    font-size:2.5em;
    font-weight:bold;
}

main .bg > .one{
    display:flex;
    flex-wrap:nowrap;
    width:90%;
    height:630px;
    margin:50px auto;
    margin-top:80px;
    justify-content: space-between;
    position:relative;
}
main .bg > .one > .onetext{
    width:50%;
    height:100%;
    background-color: white;
    border-radius: 10px;
    text-align:center;
    vertical-align: middle;
    padding:50px;
    padding-top:70px;
}
main .bg > .one > .onetext > b{
    padding:20px;
    font-size:1.5em;
    color:#DB1A35;

}
main .bg > .one > .onetext > p{
    margin-top:80px;
    white-space: pre-line;
    text-align:start;
    font-size:1em;
    
}

main .bg > .one > .one_img{
    width:55%;
    flex-shrink:0;
    position:absolute;
    left:45%; top:0%;

}
main .bg > .one > .one_img > img{
    width:100%;
}



main .bg > .two{
    display:flex;
    flex-wrap:nowrap;
    width:90%;
    height:630px;
    margin:0 auto;
    justify-content: space-between;
    position:relative;
}

main .bg > .two > .two_img{
    width:55%;
    flex-shrink:0;

}
main .bg > .two > .two_img > img:nth-of-type(1){
    width:70%;
    position:absolute;
    top:5%; left:0;
}
main .bg > .two > .two_img > img:nth-of-type(2){
    width:70;
    position:absolute;
    top: 24%; left:0;
    z-index:3;
    transform:scale(1.1) rotate(20deg);

}
main .bg > .two > .twotext{
    width:50%;
    height:100%;
    background-color: white;
    border-radius: 10px;
    text-align:center;
    vertical-align: middle;
    padding:60px;
    flex-shrink:0;
    position:absolute;
    left:50%; top:0%;
    z-index:2;
}
main .bg > .two > .twotext > b{
    padding:20px;
    padding-top:40px;
    font-size:1.5em;
    color:#DB1A35;

}
main .bg > .two > .twotext > p{
    margin-top:60px;
    white-space: pre-line;
    text-align:start;
    font-size:1em;
    
}


main .button{
    width:70%;
    margin:0px auto;
    margin-top:70px;
    display:flex;
    justify-content: space-between;
    vertical-align: middle;

}
main .button>div{
    /* border:1px solid coral; */
}

main .button .reser{
    width:40%;
}
main .button .reser a{
    width:100%;
    position:relative;
}

main .button .reser a span:nth-of-type(1){
    position:absolute;
    left:5%; top:0%;
    width:20%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}
main .button .reser a span:nth-of-type(2){
    position:absolute;
    left:27%; top:0%;
    width:5%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}
main .button .reser a span:nth-of-type(3){
    position:absolute;
    left:34%; top:0%;
    width:5%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}

main .button .reser a .btn{
    width:80%;
    margin:0px auto;
    margin-top:4%;
    border-radius: 10px;
    background-color: #2C2E2D;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main .button .reser a div p:nth-of-type(1){
    font-size:0.7em;
    margin:0;padding:0;
    padding-top:1em;
    color:rgb(171, 171, 171);
}
main .button .reser a div p:nth-of-type(2){
    font-size:1em;
    margin:0;padding:0;
    padding-bottom:1em;
    color:white;
}

main .button .find{
    width:40%;
}
main .button .find a{
    width:100%;
    position:relative;
}
main .button .find a .btn{
    width:80%;
    margin:0px auto;
    border-radius: 10px;
    background-color: #2C2E2D;
    text-align:center;
}
main .button .find a .btn p{
    font-size:1em;
    padding:1.2em 0px;
    color:white;
}
main .button .find a span:nth-of-type(1){
    position:absolute;
    right:34%; top:50%;
    width:5%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}
main .button .find a span:nth-of-type(2){
    position:absolute;
    right:27%; top:50%;
    width:5%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}
main .button .find a span:nth-of-type(3){
    position:absolute;
    right:5%; top:50%;
    width:20%; height: 70%;
    background-color: #DB1A35;
    z-index:-10;
}